{% extends 'main.html' %}

{% block content %}
    <h1 class="mt-5 mb-2">Welcome to Ordomatic!</h1>

    <a href={% url 'main:ordo' %}>Create an ordo</a>
    <a href={% url 'days:home' %}>Manage the days of your ordo.</a>

    <div class="mt-5 d-flex flex-column text-center">
        {% if user.is_authenticated %}
            <small class="fs-6">You are logged in as <span class="font-weight-bold">{{ user }}</span>{% if user.is_superuser %} (superuser){% endif %}.</small>
            <small class="fs-6"><a href={% url 'accounts:logout' %}>Logout</a></small>
        {% else %}
            <small class="fs-6">You are not logged in.</small>
                <small class="fs-6"><a href={% url 'accounts:login' %}>Login</a></small>
        {% endif %}
    </div>
{% endblock content %}
