asgiref==3.2.10
astroid==2.3.3
autopep8==1.4.4
coverage==5.0
cycler==0.10.0
Django==3.1.6
django-autocomplete-light==3.5.1
django-tempus-dominus==5.1.2.9
django-widget-tweaks==1.4.5
isort==4.3.21
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.4.1
mccabe==0.6.1
mysql-client==0.0.1
mysqlclient==1.4.6
numpy==1.20.2
Pillow==7.0.0
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
reportlab==3.5.34
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2
