{% extends 'main.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'accounts:details' %}>My account</a></li>
    <li class="breadcrumb-item active">Password change</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>Change your password</h2>

    <form class="d-flex flex-column align-items-center w-100 mb-3" method="post" novalidate>
        <div class="col-6">
            {% csrf_token %}

            <!-- Old password -->
            <div class="form-group">
                {{ form.old_password.label_tag }}

                {% if form.is_bound %}
                    {% if form.old_password.errors %}
                        {% render_field form.old_password class="form-control is-invalid" %}
                        {% for error in form.old_password.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.old_password class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.old_password class="form-control" %}
                {% endif %}

                {% if form.old_password.help_text %}
                    <small class="form-text text-muted">
                        {{ form.old_password.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- New password 1 -->
            <div class="form-group">
                {{ form.new_password1.label_tag }}

                {% if form.is_bound %}
                    {% if form.new_password1.errors %}
                        {% render_field form.new_password1 class="form-control is-invalid" %}
                        {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.new_password1 class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.new_password1 class="form-control" %}
                {% endif %}

                {% if form.new_password1.help_text %}
                    <small class="form-text text-muted">
                        {{ form.new_password1.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- New password 2 -->
            <div class="form-group">
                {{ form.new_password2.label_tag }}

                {% if form.is_bound %}
                    {% if form.new_password2.errors %}
                        {% render_field form.new_password2 class="form-control is-invalid" %}
                        {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.new_password2 class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.new_password2 class="form-control" %}
                {% endif %}

                {% if form.new_password2.help_text %}
                    <small class="form-text text-muted">
                        {{ form.new_password2.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Validate</button>
        </div>
    </form>
{% endblock content %}
