{% extends 'main.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Login</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>Login!</h2>

    <form class="d-flex flex-column align-items-center w-100 mb-3" method="post" novalidate>
        <div class="col-4">
            {% csrf_token %}

            <!-- Username -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {% render_field form.username class="form-control" %}
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label_tag }}
                {% render_field form.password class="form-control" %}
            </div>

            <!-- Non field errors -->
            {% if form.non_field_errors %}
                <div class="mb-4">
                    {% for error in form.non_field_errors %}
                        <div class='invalid-feedback red d-block'>
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Validate -->
        <div class="mb-5">
            <button type="submit" class="btn btn-primary">Validate</button>
        </div>

        <div>
            No account yet? <a href={% url 'accounts:signup' %}>Create an account!</a>
        </div>
    </form>
{% endblock content %}
