{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'calendars:calendars_list' %}>Calendars</a></li>
    <li class="breadcrumb-item"><a href={% url 'calendars:calendar_details' calendar.pk %}>{{ calendar }}</a></li>
    <li class="breadcrumb-item active">Days</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>Days of calendar {{ calendar }}</h1>

    <a href={% url 'days:days_list' calendar.pk 'tempo' %}>Tempo</a>
    <a href={% url 'days:days_list' calendar.pk 'sancto' %}>Sancto</a>
{% endblock content %}
