{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'days:home' %}>Days</a></li>
    <li class="breadcrumb-item active">Sancto</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ category|title }}</h1>
    <a href={% url 'days:day_create' 'sancto' %}>Create a new day</a>

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th class="text-center">Month</th>
                <th class="text-center">Day</th>
                <th class="text-center">Name</th>
                <th class="text-center">Header</th>
                <th class="text-center">Force</th>
            </tr>
        </thead>

        <tbody>
            {% for day in days %}
                <tr>
                    <td class="col-1">{{ day.month }}</td>
                    <td class="col-1">{{ day.day }}</td>
                    <td class="col-3">{{ day.name }}</td>
                    <td class="col-3">{{ day.header }}</td>
                    <td class="col-3">{{ day.force }}</td>
                    <td class="col-1">
                        <a href={% url 'days:day_details' 'sancto' day.pk %}>
                            <span class="fas fa-eye" title="See details of this day"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}


