{% extends 'main.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <h3 class="bg-danger text-white red">Are you sure you want to delete this calendar?</h3>
        <h4>({{ calendar }})</h4>

        <!-- Validation -->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mx-3">Yes</button>
            <a href={% url 'calendars:calendar_details' calendar.id %} class="btn btn-primary mx-3">No</a>
        </div>
    </form>
{% endblock content %}
