@blue: rgb(0, 0, 128);
@red: rgb(255, 0, 0);
@green: rgb(0, 100, 0);
@grey: rgb(145, 145, 145);
@grey-light: rgb(220, 220, 220);
@grey-dark: rgb(50, 50, 50);
@green-light: rgb(0, 255, 0);
@orange: rgb(255, 145, 0);


a:hover {
    text-decoration: none;
}

.blue {
    color: @blue;
}

.grey {
    color: @grey;
}

.green {
    color: @green;
}

.orange {
    color: @orange;
}

.red {
    color: @red;
}

body {
    background-color: whitesmoke;

    // Nav:
    nav {

        a,
        a:hover {
            color: whitesmoke;
        }

        #logo {
            #title {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2.2em;
            }
        }
    }

    // Menu:
    .dropdown {
        .dropdown {
            .dropdown-button {
                background-color: orange;
                border: 1px solid @grey-light;
                border-radius: 4px;
                color: white;
                cursor: pointer;
                font-size: 10px;
                padding: 5px;
            }

            .dropdown-content {
                background-color: whitesmoke;
                border: 1px solid @grey-light;
                border-radius: 4px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                display: none;
                font-size: 0.95em;
                min-width: 200px;
                position: absolute;
                z-index: 9;

                a {
                    color: @grey-dark;
                    display: block;
                    padding: 4px 6px;
                    text-decoration: none;
                }

                .user {
                    background-color: @grey-light;
                    font-size: 0.8em;
                }
            }
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    }

    // Breadcrumbs:
    .breadcrumb {
        height: 30px;
        padding: 3px 3px 3px 20px;
    }

    // Content:
    #content {
        margin: 0px;

        h1 {
            color: @green;
            font-family: LucidaHW;
        }

        #ordo-block {
            overflow-y: scroll;
            height: 75vh;
        }

        .doc-page {
            table {

                th,
                td {
                    font-size: 0.9em;
                }
            }

            .ordo,
            .caution,
            .terminal {
                border-radius: 4px;
                padding: 5px 10px 5px 10px;
            }

            .caution {
                background-color: rgb(250, 179, 195);

                .fas {
                    color: white;
                    font-size: 2em;
                    margin: auto;
                }
            }

            .highlight {
                background-color: @grey-light;
                border-radius: 2px;
                padding: 2px 5px 2px 5px;
            }

            .ordo {
                background-color: white;
            }

            .terminal {
                background-color: black;
                color: white;
                font-family: monospace;
            }
        }
    }
}