{% extends 'main.html' %}

{% load widget_tweaks %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'ordos:ordos_list' %}>Ordos</a></li>

    {% if ordo %}
        <li class="breadcrumb-item"><a href={% url 'ordos:ordo_details' ordo.id %}>{{ ordo }}</a></li>
        <li class="breadcrumb-item active">Update</li>
    {% else %}
        <li class="breadcrumb-item active">Create</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if ordo %}
        <h2 class="mb-4 green font-weight-bold">Update an ordo</h2>
    {% else %}
        <h2 class="mb-4 green font-weight-bold">Create an ordo</h2>
    {% endif %}

    <form class="d-flex flex-column align-items-center w-100 mb-3" method="post" novalidate>
        {% csrf_token %}

        <!-- Name -->
        <div class="form-group">
            {{ form.name.label_tag }}

            {% if form.is_bound %}
                {% if form.name.errors %}
                    {% render_field form.name class="form-control is-invalid" %}
                    {% for error in form.name.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.name class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field form.name class="form-control" %}
            {% endif %}

            {% if form.name.help_text %}
                <small class="form-text text-muted">
                    {{ form.name.help_text }}
                </small>
            {% endif %}
        </div>

        <!-- Validation -->
        <div class="d-flex justify-content-center">
            {% if ordo %}
                <a href={% url 'ordos:ordo_details' ordo.id %} class="btn btn-primary mx-3">Annuler</a>
            {% else %}
                <a href={% url 'ordos:ordos_list' %} class="btn btn-primary mx-3">Annuler</a>
            {% endif %}
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock content %}
